html, body{
	height: 100%;
	overflow: hidden;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;	
}

footer{
	position:fixed;
	left:0px;
	bottom:0px;
	height: 15%%;
	width: 100%;
	/*background-color: lightgrey;*/
}

.line{
}

.badge{
	position: fixed;
	top: 0;
	right: 0;
	margin: 5%;
}

#welcome{
	color: #000;
	opacity: .3;
}

#welcome:hover{
	color: hsl(160, 100%, 50%);
	opacity: 1;
}

.area{
	padding:0;
    overflow: scroll; 
    overflow-x:hidden;
    height:100%
}

#the_page{
	margin: 0;
    padding: 0;
    height: 85%;
    max-height: 85%;
    width: 100%;
    display: block; 
    overflow: scroll;
}


.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	padding-left: 1.5%;
	max-width: 90%;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-size: 150%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

#ghost{
	visibility: hidden;
	font-size: 150%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#my_bar{
	position: absolute;
	width:0px;
	height:5px;
	background: mediumspringgreen;
	margin-top: 12%;
}
