html, body{
	height: 100%;
	overflow: hidden;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;	
}

footer{
	position:fixed;
	left:0px;
	bottom:0px;
	margin-bottom: 1em;
	padding-left: 2%;
	height: 4em;
	width: 100%;
	/*background-color: lightgrey;*/
}

.line{
	height: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.badge{
	position: fixed;
	top: 0;
	right: 0;
	margin: 5%;
}

#welcome{
	color: #000;
	opacity: .3;
}

#welcome:hover{
	color: hsl(160, 100%, 50%);
	opacity: 1;
}

.area{
	padding:0;
    overflow: scroll; 
    overflow-x:hidden;
    height:100%
}

#the_page{
	margin: 0;
    padding-left: 2%; 
	max-height: 85%;
    width: 100%;
    display: block; 
    overflow: scroll;
}


.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-top: 1em;
	padding-left: 1em;
	height: 2em;
	max-width: 90%;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	/*padding: 0.8em;*/
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-size: 150%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

#ghost{
	position: absolute;
	visibility: hidden;
	font-size: 150%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#my_bar{
	position: relative;
	display: block;
	margin-left: 1em;
	width:0px;
	height:5px;
	background: mediumspringgreen;
}



/* New Document Icon  - Thanks to Josh Hibbert - http://joshnh.com/weblog/pure-css-icons/*/

a.icon {
    margin: 12px;
}

a.icon {
    background-color: white;
    border: 2px solid lightgrey;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
a.icon:after,
a.icon:before {
    background: white;
    border: 2px solid lightgrey;
    content: '';
    position: absolute;
}
a.icon:hover{
	background-color: white;
    border-top: 2px solid mediumspringgreen;
    border-left: 2px solid mediumspringgreen;
    border-right: 2px solid mediumspringgreen;
    border-bottom: 2px solid mediumspringgreen;

}
a.icon:hover:after{
	border-top: 2px solid mediumspringgreen;
	border-bottom: 2px solid mediumspringgreen;
}

a.icon:hover:before {
    background-color: white;
    border-top: 2px solid mediumspringgreen;
    border-left: 2px solid mediumspringgreen;
    border-right: 2px solid mediumspringgreen;

}

a.newDoc {
    border-top: 2px solid lightgrey;
    box-shadow: inset 0 0 0 2px white;
    height: 15px;
    top: 10px;
    width: 20px;
}
a.newDoc:hover {
    box-shadow: inset 0 0 0 2px white;
}
a.newDoc:after {
    height: 10px;
    right: 1px;
    top: -9px;
    width: 10px;
    z-index: -1;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
a.newDoc:before {
    border-bottom: none;
    border-right: 2px solid lightgrey;
    height: 10px;
    left: -2px;
    top: -12px;
    width: 11px;
}

/* END New Document Icon  - Thanks to Josh Hibbert - http://joshnh.com/weblog/pure-css-icons/*/


